﻿@model CommentViewModel

@{ 

}
<div>
    <form method="post" , asp-controller="Home" asp-action="Comment">
        <input aps-for="PostId" type="hidden" />
        <input aps-for="MainCommentId" type="hidden" />
        <input aps-for="Message" />
        <button type="submit">Submit</button>
    </form>
</div>