﻿@model IEnumerable<Post>

@{ 
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This blog has everything!!";
    ViewBag.Keywords = "blog programing travel photography";
    var base_path = Context.Request.PathBase;
}

@*<h2>Home Page</h2>
<img src="~/content/static/gore-grind.jpg" width="500" />*@
<div class="main-image">
    <span class="title">Amazing Blog Site</span>
</div>

<div class="container">
    @*<ul>
            @foreach(var post in Model)
            {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
            }
        </ul>*@
    @foreach (var post in Model)
    {

        var image_path = $"{base_path}/Image/{post.Image}";
    <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
        <img src="@image_path"/>
        <span class="title">
        @post.Title
        </span>
    </a>

    }
    </div>