﻿@model PostViewModel

@{ 

}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <lable>Title</lable>
            <input asp-for="Title" />
        </div>
        <div>
            <lable>Description</lable>
            <input asp-for="Description" />
        </div>
        <div>
            <lable>Tags</lable>
            <input asp-for="Tags" />
        </div>
        <div>
            <lable>Category</lable>
            <select asp-for="Category">
                <option value="Travel">Travel</option>
                <option value="Programing">Programing</option>
                <option value="Photography">Photography</option>
            </select>
        </div>
        <div>
            <lable>Body</lable>
            <textarea id="editor" asp-for="Body"></textarea>
        </div>
        <div>
            <lable>Image</lable>
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="Image" />
        </div>
        <input type="submit" value="submit" />
    </form>
</div>

@section scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();

        // . - class
        // # - id
        // nav - html element
    </script>
}