﻿<h1>Home Page</h1>

<button onclick="signIn()">SignIn</button>

<div>
    <button onclick="signOut()">Sign Out</button>
</div>

<div>
    <button onclick="callApi()">CallApi</button>
</div>

<!-- <script src="~/sign-in.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.1/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>